* {
    min-width: 10vw;
    min-height: 10vh;
}
body {
    display: flex;
    justify-content: center;
}
.conversor {
    text-align: center;
}
a#separador{
    text-shadow: 1px 2px grey;
    font-size: calc(3vh + 1vw);
}
a{
    font-size: calc(2vh + 2vw); 
    padding-bottom: -20vh; 
}
#primerValor, #segundoValor{
    margin-top: 5vh;
}
input {
    border: none;
    border-bottom: calc(0.1vh + 0.1vw) solid black;
    width: calc(2vh + 2vw);
    height: 5vh;
    min-height: 2vh;
    font-size: calc(2vh + 2vw);
    text-align: center;
}
#valores{
    display: flex;
    justify-content: center;
}
button{
    font-size: calc(1vh + 1vw);
    width: calc(3vh + 3vw);
    min-height: 5vh;
    min-width: 25vw;
}
button:hover {
    font-size: calc(1vh + 1vw);
    width: calc(1vh + 1vw);
}