.conversor {
    display: flex;
    flex-direction: column;
    width: 50vw;
}
a{
    text-shadow: 1px 1px grey;
    font-size: 5vh;
}
p{
    font-size: 1.5vw;  
}
input {
    width: 8vw;
    border: none;
    border-bottom: 1vh solid black;
    width: 4vw;
    font-size: 2vw;
    text-align: center;
}
button{
    font-size: 1.30vw;
    width: 8vw;
}
button:hover {
    font-size: 1.35vw;
    width: 8.2vw;
}
